*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;  
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0%;
    line-height: 1.6;
}
header{
    background-image: url(image/fond2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 1400px;
    padding-bottom: 20px;
}
nav div{
    padding: 5px;
    margin-top: 40px;
}
a:hover{
    color: yellow;
}
div a{
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    font-size: 14px;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.base{
    display: flex;
}
main{
    flex: 1;
    text-align: left;
}
aside{
    flex: 5;
    text-align: right;
}
.btn-abonner{
    background-color: #a9a9a9;
    padding: 10px;
    border-radius: 8px;
    color: white;
}
section main{
    flex: 2;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;

}
section aside{
    flex: 3;
}
section p{
    font-size: 12px;
}
.profil{
    display: flex;
    justify-content: center;
}
.profil main{
    flex: 2;
    text-align: right;
    margin: 5px;
}
.profil aside{
    flex: 2;
    text-align: left;
    margin: 5px;
}
.btn-explorer{
    text-decoration: none;
    background-color: #a9a9a9;
    border: 2px solid white;
    padding: 10px;
    border-radius: 8px;
    color: white;
}
.btn-video{
    text-decoration: none;
    background-color: blue;
    border: 2px solid white;
    padding: 10px;
    border-radius: 8px;
    color: white;;
}
.btn{
    background-color: white;
    text-align: center;
    padding: 30px;
}
img{
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
}.hero{
    margin-bottom: 70px;
    font-size: 12px;
}
.hero main{
    flex: 1;
    text-align: left;
    margin: 10px;
    background-color: azure;
    border-radius: 8px;
}
.hero aside{
    flex: 1;
    text-align: left;
    padding: 5px;
    border-radius: 8px;
    background-color: azure;
    margin: px;
}
.hero a{
    color: blue;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.logo{
    display: flex;
    flex-direction: row;
}
.logo main{
    margin-top: 20px;
    flex: 1;
}
.logo aside{
    flex: 9;
}
h3{
    text-align: left;
}
.carte{
    text-align: right;
    margin-right: 100px;
}
.zone{
    margin: 30px;
    text-align: right;
}
.zone a{
    color: blue;
    text-decoration: none;
    margin-bottom: 40px;
}
.card{
    margin-top: 30px;
    padding: 40px;
}
.card main{
    flex: 1;
    font-size: 10px;
    margin: 2px;
    background-color:azure;
    border-radius: 8px;
}
.card aside{
    flex: 1;
    margin: 2px;
    text-align: left;
    font-size: 10px;
    margin: 5px;
    background-color: azure;
    border-radius: 8px;
}
.personal{
    display: flex;
    color: white;
    background-color: darkblue;
    font-size: x-small;
    padding-inline: 150px;
}
.personal main{
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}
.personal aside{
    flex: 1;
    margin: 0px;
    padding: 0;
    text-align: center;
}
.ia{
    display: flex;
    flex-direction: column;
}
footer{
     background-color: #222;
    color: white;
    text-align: center;
    padding: 4px;
}
.page{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.grid p{
    font-weight: bold;
    color: blue;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.link{
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
@media(max-width: 900px){
    .page{
        width: 95%;
        margin: 0px;
    }
    .container{
        gap: 15px;
    }
    main{
        padding: 15px;
    }
    aside{
        padding: 15px;
    }
}
@media(max-width: 480px){
    .page{
        width: 100%;
        margin: 0;
    }
    body{
        background-image: url(image/fond.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    nav div{
        margin-top: 10px;
    }
    section{
        border-radius: 0;
    }
    main{
        border-radius: 0;
        padding: 12px;
        text-align: center;
    }
    aside{
        border-radius: 0;
        padding: 12px;
    }
    nav a{
        font-size: 14px;
    }
    footer{
        font-size: 14px;
    }
    section main{
        margin-left: 0;
        margin-inline: 30px;
    }
    .profil{
        flex-direction: column;
        text-align: center;
    }
    .profil main{
        text-align: center;   
    }
    .profil aside{
        text-align: center;
    }
    .container{
        flex-direction: column;
        text-align: center;
    }
    .hero{
        margin: 0px;
    }
    .personal{
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    .ia{
        flex-direction: row;
    }
    .zone{
        margin: 0px;
    }
    .link {
        flex-direction: row;
        margin-inline: 150px;
        padding: 0px;
    }
}



